#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.log
*.log.xml
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.orig
src/AssemblyCompanyProductInfo.cs
src/AssemblyVersionInfo.cs
src/LaCore.Hyperion.Setup/Product.wxs
src/packages/
src/LaCore.Hyperion.Web.Admin/log/*
*/packages/*
src/LaCore.Hyperion.Web.AuthorizationServer/packages/
src/LaCore.Hyperion.Web.Api/cronus-sample-log.xml
*sln.ide/
*.tmp
temp/
*.wxs
